body{
    background-color: #f5f5f5;
}

div{
    text-align: center;
    font-family: Tahoma;
    border-bottom: 1px solid #d5d5d5;
    border-top: 0;
    padding: 50px;
    color: #000000;
}
img{ 
    width: 190px;
    border: 2px solid gray;
}

h1{
    font-size: 32px;
    font-family: Tahoma;
    color: #000000;
    border: 3px solid darkgray;
    border-radius: 30px;
   width: 300px;
   margin: 40px  auto;
   padding: 5px;
}
p{
    font-size: 16px;
    width: 830px;
    margin: 15px auto;
    margin-bottom: 30px;
    line-height: 28px;
    color: #000000
}

span{
    font-weight: bold;

}

a{
   background-color: #6e9ac9;
   font-size: 14px;
   padding: 10px 30px;
   border-radius: 25px;
   font-weight: bold;
   text-decoration: none;
   color: white; 
}